@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: row;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.caret-off::before {
    display: none;
}

.caret-off::after {
    display: none;
}

.prange {
    z-index: 5;
    position: absolute;
    -webkit-appearance: none;
    background: transparent;
    width: 800px;

}
    .prange::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background-color: transparent;
    }

.hide-scroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width:none;
}
.hide-scroll::-webkit-scrollbar{
    display:none;
    width:0px;
    height:0px;
}

.tip {
    display: none;
}

.point-one, .point-two, .point-three {
    height: 35px;
    width: 35px;
    position: absolute;
    z-index: 5;
    background: inherit;
    border-radius: 35px;
    margin-top: -10px;
}
.point-one{
    left:25%
}
.point-two{
    left:50%
}
.point-three{
    left:75%
}

.showtip:hover .tip {
    display:flex;
    width:auto;
    position: absolute;
    background: black;
    border-radius: 15px;
    padding: 10px;
    color: white;
    text-align:left;
}
.newtip {
    border-radius: 15px;
    padding: 10px;
    color: white;
    text-align: left;
    background:black;
    animation:tooltip-animation 200ms;
}
.notification-badge {
    position: relative;
    top: -20px;
    right: 16px;
    padding: 3px 7px;
    border-radius: 50%;
    background: red;
    color: white;
    font-size:small;
}
.kanji {
    font-family: 'Sawarabi Mincho', sans-serif;
    position:relative;
    padding:12px;
    padding-left:25px;
    font-size:50px;
    color:red;
    background:white;
    border-radius:50%;
    width:100px
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.speed-button {
    display: inline-block;
    width: 1.25rem;
    height: 1.65rem;
    cursor: pointer;
    border:medium;
    border-color:darkslategrey;
    padding:0px!important;
}

.pause-button {
    float: right;
    border: none;
    color: orange;
    background-color: brown;
    height: 1.65rem;
    width: 6rem;
    line-height:1.65rem;
    font-size: x-large;
}

.sidebar {
    background-color: #3A3D36;
    width: 300px;
    min-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    bottom: 0;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: black;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: lightgray;
            color: black;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.delayed{
    animation-delay:100ms;
}

@keyframes tooltip-animation{
    from {opacity:0;}
    to{opacity:100;}
}


.action-menu-left{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border-top:2px solid black;
    border-left:2px solid black; 
    border-bottom:2px solid black;
    width:255px;
}
.action-menu-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black
}
.action-menu-center {
    border-top: 2px solid black;
    border-bottom: 2px solid black
}


